.bg-Lblue{background-color: $Lblue;}
.bg-Lblue2 {background-color: $Lblue2;}
.bg-Lblue3 {background-color: $Lblue3;}
.bg-Lblue4 {background-color: $Lblue4;}
.bg-gradblue{background: $GradBlue;}
.c-resaltado{color: $Resaltado;}
.bg-resaltado{background-color:$Resaltado;}
.c-white{color: $White;}
.bg-presentacion{background: $GradPres;}
.bg-tenue{background: $PrecioA}
.bg-texto{background: $FondoTexto;}