.bg-Lblue{background-color: $Lblue;}
.bg-Lblue2 {background-color: $Lblue2;}
.bg-Lblue3 {background-color: $Lblue3;}
.bg-gradblue{background: $GradBlue;}
.c-violet{color: $Violet;}
.bg-violet{background-color:$Violet;}
.c-white{color: $White;}
.bg-presentacion{background: $GradPres;}