body{margin: 0 auto;

    width: 100%;

    background-image: url(../images/FondoBotella.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;}
#fondo1 {
    background-image: url(../images/tipos-de-hielo-1688x844.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100px 100px 0px 0px;
    z-index: 0  ;
}
#fondoPrecios {
    background-image: url(../images/BannerGota.jpg);
    background-size: cover;
    background-attachment:local;
    background-repeat: repeat-y;
    background-position: bottom center;
    z-index: 0  ;
}
#fondoProd {
    background-image: url(../images/BannerAgua.jpg);
    background-size: cover;
    background-attachment: local;
    background-repeat: repeat-y;
    background-position: bottom center;
    z-index: 0  ;
}
.FondoPrecio{
    background-color: $PrecioA;
}
html{

    box-sizing: border-box;

    background-color: blue ;}

.w-40{width: 40%;}

.Header{
        z-index: -2;
        background-image: url(../images/gotas.jpg);
        background-size: 100%;}

nav{box-shadow: $box-shadow-bottom-only;}

.Imagenes{
    object-fit: contain}

.ImagenAjust{
    width: 25%;
}

@media only screen and (max-width: 1024px) and (min-width:992px){
    .ImagenAjust{width: 40% ;}
}
@media only screen and (max-width: 992px){
    .ImagenAjust{width: 75% ;}
}


.BotonInicio {
    margin: 0.2rem;
    font-size: 2rem;
    background-color: $ColorBoton;
    color: $White;
    box-shadow: $SombraBoton;
    font-family: 'Dancing Script';
}
.SeccionProd{
    border-radius: 100px 100px 20px 20px;
}
.Footer{
    @include flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid;
    ul{
        width: 30%;
        align-items: flex-start;
    }
    li{
        list-style: none;
        
        a {
            outline: none;
            text-decoration: none;
            color: black;
        }
        a:hover {
            border-bottom: 1px solid;
        }
    }
}

@media only screen and (max-width: 992px)  {
    .Footer{
        border-top: 0.5px solid;
        border-left: none;
        margin-bottom: 1rem;
        h3{margin-top: 1rem;
            margin-bottom: 1rem;
            }
        ul{display: inline;}
        li{display: inline;
            margin: 1rem;
        }
    }
    
}

.FotoCirc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment:local;
    border-radius: 10%;
    background-position: center center;
    width: 35rem;
    height: 35rem   ;
    transition: all ease-out 0.5s;
    .PrecioBidon{
        opacity: 0;
    }
}

.FotoCirc:hover{
    transition: all ease 1s;
    .PrecioBidon{
        opacity: 1;
        background-color: $PrecioA;
        transition-duration: 0.5s;
        border-radius: 10%;
       }
}
.FondoP1{
    background-image: url(../images/AguaDelAtlantico/Bidon12.jpg);}


.FondoP2{
    background-image: url(../images/AguaDelAtlantico/Bidon12.jpg);}


.FondoP3{
    background-image: url(../images/AguaDelAtlantico/Dispenser2.jpg);}


    @media only screen and (min-width: 993px){
        .FondoP1:hover{
            background-image: url(../images/AguaDelAtlantico/Bidon2.jpg);}
        .FondoP2:hover{
            background-image: url(../images/AguaDelAtlantico/Bidon2.jpg);}
        .FondoP3:hover{
            background-image: url(../images/AguaDelAtlantico/Dispenser1ple.jpg);}
    }

    @media only screen and (max-width: 992px) {
        .FotoCirc {
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-attachment:local;
            border-radius: 5%;
            background-position: center center;
            width: 35rem;
            height: 35rem   ;
            transition: all ease-out 0.5s;
            .PrecioBidon{
                opacity: 1;
                background-color: $PrecioA;
                transition-duration: 0.5s;
                border-radius: 5%;
            }
        }
    }

    .nav-item{
        margin-right: 5rem;
    }

    .CarruselProd{
        width: 40%;
    }

    @media only screen and (max-width: 992px){
        .CarruselProd{
            width: 100%;
        }
    }
    @media only screen and (max-width: 1350px) and (min-width:993px){
        .CarruselProd{
            width: 50%;
        }
    }
    .Info{
        background-color: $PrecioA;
    }

    .TextoFondo{
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background: $FondoTexto;
        border-radius: 10px 10px 10px 10px;
    }
    @media  screen and (max-width: 992px) {
        .TextoFondo{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }