.Titulo{
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
}
.Titulo--Resaltado {
    color: $Violet;
}

.TituloPres{
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px){
    .Titulo {
        text-align: center;
    }
}