.Titulo{
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
}
.Titulo--Resaltado {
    color: $Violet;
}

.TituloPres{
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
}
.TextoInicio{
    font-size: 1.5rem;
}
.TextoBoton{
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    .Titulo {
        text-align: center;
    }
    .TextoInicio{
        text-align: center;
    }
}

nav{
    ul{
        li{
            font-family: 'Dancing Script';
            font-size: $FuenteNav;
            font-weight: bolder;
            color: black;
        }
    }
}