$Lblue: rgb(0, 217, 255);
$Lblue2:rgb(0, 175, 255);
$Lblue3: rgb(0, 135, 255);
$GradBlue: linear-gradient(rgb(0, 217, 255),blue);
$Violet:rgb(112, 34, 148);
$White: white;
$box-shadow-bottom-only: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
$GradPres: linear-gradient(to left top,rgb(12, 91, 209),rgb(255, 255, 255));

$enlaces: (
 Precios: yellow,
 Productos:  blue,
 Ubicacion: red
);


